@keyframes rainbow {
  0% {
    background-color: red;
  }
  10% {
    background-color: orange;
  }
  20% {
    background-color: yellow;
  }
  30% {
    background-color: lime;
  }
  40% {
    background-color: green;
  }
  50% {
    background-color: aqua;
  }
  60% {
    background-color: blue;
  }
  70% {
    background-color: navy;
  }
  80% {
    background-color: purple;
  }
  90% {
    background-color: fuchsia;
  }
  100% {
    background-color: red;
  }
}

/* .rainbow-animation {
  animation: rainbow 4s linear infinite;
} */

.playing {
  box-shadow: inset 0 6px 10px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.6);
  transform: scale(0.90);
  filter: brightness(0.8);
  transition: all 0.2s ease;
}



body {
  /* width: 100vh; */
  margin: 1rem;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

#soundboard {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 32rem;
  gap: 0.5rem;
  background-color: rgb(147, 121, 121);
  padding: 2rem;
  grid-template-columns: repeat(5, 1fr);
  border-radius: 0.75rem;
  outline: 3px solid #888;
  box-shadow: 0px 2px 6px 2px #000;
}

button {
  background-image: linear-gradient(
      45deg,
      rgba(169, 169, 169, 0.8),
      rgba(169, 169, 169, 0) 0.71%
    ),
    linear-gradient(
      135deg,
      rgba(192, 192, 192, 0.8),
      rgba(192, 192, 192, 0) 60.71%
    );

  border: none;
  height: 6rem;
  width: 6rem;
  border-radius: 9px;
  padding: 8px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button:hover,
button:active {
  background-color: rgb(125, 167, 181);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

button[title]::after {
  content: attr(title);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

button[title]:hover::after {
  visibility: visible;
  opacity: 1;
}
