.playing {
  box-shadow: inset 0 6px 10px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.6);
  transform: scale(0.9);
  filter: brightness(0.8);
  transition: all 0.2s ease;
}

body {
  width: 100vw;
  margin: 1rem;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.soundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: rgb(105, 87, 87);
  border-radius: 0.75rem;
}

#soundboard {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 32rem;
  gap: 0.5rem;
  background-color: rgb(147, 121, 121);
  padding: 1em;
  grid-template-columns: repeat(5, 1fr);
  border-radius: 0.75rem;
  outline: 3px solid #888;
  box-shadow: 0px 2px 6px 2px #000;
}

button {
  background-image: linear-gradient(
      45deg,
      rgba(169, 169, 169, 0.8),
      rgba(169, 169, 169, 0) 0.71%
    ),
    linear-gradient(
      135deg,
      rgba(192, 192, 192, 0.8),
      rgba(192, 192, 192, 0) 60.71%
    );

  border: none;
  height: 6rem;
  width: 6rem;
  border-radius: 9px;
  padding: 8px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

button:hover,
button:active {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

button[title]::after {
  content: attr(title);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

button[title]:hover::after {
  visibility: visible;
  opacity: 1;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-top: 1rem;
}

.options button {
  height: 3rem;
  width: 4rem;
  background-color: red;
  color: #ffffff;
}

#volumeControl {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}
#volumeControl label {
  margin-bottom: 5px;
  color: #ffffff;
  text-align: center;
}
#volumeSlider {
  -webkit-appearance: none;
  appearance: none;
  width: 90%;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  border-radius: 3px;
  opacity: 0.9;
  transition: opacity 0.2s;
}

#volumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #838383;
  cursor: pointer;
  border-radius: 5px;
}

@media screen and (max-width: 620px) {
  #soundboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
    padding: 5px;
    gap: 0.3rem;
  }

  button {
    height: 13%;
    width: 18%;
    border-radius: 9px;
    padding: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  /* names does not show on smaller screens, needs to get fixed. Text to big for the buttons  */
  button[title]:hover::after {
    visibility: hidden;
    opacity: 0;
  }
}
